.sch-Vxwmb {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fbfdff;
}
.sch-mobile {
  width: 468px;
  min-height: 100vh;
  background: #fefeff;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  transition: all 0.4s;
}
@media screen and (max-width: 880px) {
  .sch-mobile {
    width: 100%;
  }
}
.sc-dbhs {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 2rem 1rem;
  padding-bottom: 4rem;
}
.sc-dbhs-p {
  display: flex;
  position: relative;
  width: 100%;
  min-height: 100vh;
  flex-direction: column;
  padding: 2rem 0;
  padding-bottom: 4rem;
}
.dbhs-content {
  padding-top: 2rem;
}
.dbhs-p {
  padding: 0 1rem;
}
/* =======================================
  Header Style
====================================== */
.sc-sticky-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 468px;
  transition: width 0.4s, box-shadow 0.3s;
  padding: 0.4rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #ffffff;
  z-index: 100;
}
.sc-sticky-header.sticky {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 6px;
}
@media screen and (max-width: 880px) {
  .sc-sticky-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }
}
.logo-app img {
  width: 130px;
}
.navbar {
  display: flex;
  align-items: center;
}
.nav-menu {
  display: flex;
  align-items: center;
  list-style: none;
}
.list-menu:not(:last-child) {
  margin-right: 5px;
}
.nvcs-btn {
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 35px;
  border: 2px solid transparent;
  background: transparent;
  text-decoration: none;
  cursor: pointer;
  font-size: 1.1rem;
  transition: background 0.1s, border 0.3s;
  border-radius: 5px;
}
.nvcs-btn:active {
  transition: background 0s, border 0s;
  border: 2px solid #ececec;
  background: #ececec;
}
.bottom-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 468px;
  transition: width 0.4s;
  /* padding: 0rem 1rem; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #ffffff;
  z-index: 100;
  /* border-top: 1px solid rgba(0, 0, 0, 0.1); */
  box-shadow: 0px -1px 8px rgba(0, 0, 0, 0.1);
}
@media screen and (max-width: 880px) {
  .bottom-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
  }
}
.bottom-bar .navbar-menu {
  display: grid;
  grid-template-columns: repeat(5, auto);
  width: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
}
.bottom-bar .navbar-menu .navbar-list .navbar-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  height: 50px;
  width: 100%;
  padding: 0 0.5rem;
  border: 3px solid transparent;
  color: #909396;
  transition: background 0.1s, border 0.3s;
}
.bottom-bar .navbar-menu .navbar-list .navbar-link:active {
  transition: background 0s, border 0s;
  background: #e6f3ff;
  border: 3px solid #e6f3ff;
}
.bottom-bar .navbar-menu .navbar-list .navbar-link i {
  font-size: 1.4rem;
}
.bottom-bar .navbar-menu .navbar-list .navbar-link span {
  font-size: 11px;
}
.bottom-bar .navbar-menu .navbar-list .navbar-link:active i,
.bottom-bar .navbar-menu .navbar-list .navbar-link:active span {
  color: #1581fd;
}
.bottom-bar .navbar-menu .navbar-list .navbar-link.active i,
.bottom-bar .navbar-menu .navbar-list .navbar-link.active span {
  color: #1581fd;
}

.box-grid\:2 {
  display: grid;
  grid-template-columns: repeat(2, auto);
}
.box-grid\:3 {
  display: grid;
  grid-template-columns: repeat(3, auto);
}
.box-grid\:4 {
  display: grid;
  grid-template-columns: repeat(4, auto);
}
.box-grid\:5 {
  display: grid;
  grid-template-columns: repeat(5, auto);
}
.gap\:1 {
  gap: 5px;
}
.gap\:2 {
  gap: 10px;
}
.header-profile {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 468px;
  height: 180px;
  padding: 2rem;
  background: linear-gradient(
    180deg,
    rgba(5, 164, 230, 1) 17%,
    rgba(76, 167, 231, 1) 72%
  );
  z-index: 100;
  transition: width 0.4s;
}
@media screen and (max-width: 880px) {
  .header-profile {
    width: 100%;
    left: 0;
  }
}
.card-absolute {
  position: absolute !important;
  bottom: -30px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 90%;
  padding: 1rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border: none !important;
  border-radius: 6px !important;
}
.btn-activate {
  display: inline-block;
  font-size: 13px;
  font-weight: 500;
  height: 30px;
  padding: 0 1.4rem;
  line-height: 24px;
  border-radius: 9px;
  border: none;
  background: #fbfdff;
  border: 1px solid #77ace7;
  color: #1473df;
  transition: all 0.3s;
}
.btn-activate:hover {
  border: 1px solid #3998f7;
  background: #3998f7;
  color: #ffffff;
}

.profile-content {
  padding-top: calc(180px + 3rem);
  padding-bottom: 4rem;
}

.qr-square {
  width: 150px;
  height: 150px;
  border-radius: 7px;
  border: 1px solid #73b2fa;
  margin-bottom: 10px;
}
.qr-square .qr-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 7px;
}
.wallet-address {
  position: relative;
  width: 100%;
  padding: 0.4rem 0.4rem;
  padding-right: 45px;
  border: 1px solid #73b2fa;
  border-radius: 6px;
}
.wallet-btn {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto 0;
  width: 40px;
  height: 40px;
  font-size: 1.4rem;
  background: transparent;
  border: none;
  color: #1581fd;
}
.wallet-btn:hover {
  color: #5498e6;
}
