.sidebar-notification {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 468px;
  min-height: 100vh;
  overflow-y: auto;
  transition: width 0.4s, transform 0.4s;
  background: #ffffff;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  z-index: 150;
}
.hide-sidebar {
  transform: translateX(200%);
}
.show-sidebar {
  transform: translateX(0%);
}
@media screen and (max-width: 880px) {
  .sidebar-notification {
    position: fixed;
    top: 0;
    left: auto;
    right: 0 !important;
    margin: 0 0;
    width: 100%;
  }
  .hide-sidebar {
    transform: translateX(200%);
  }
  .show-sidebar {
    transform: translateX(0%);
  }
}
.sidebar-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.close-btn {
  display: inline-flex;
  align-items: center;
  padding: 0rem 0.7rem;
  height: 30px;
  border-radius: 5px;
  font-size: 0.9rem;
  border: 2px solid transparent;
  background: transparent;
  text-decoration: none;
  cursor: pointer;
  transition: background 0.1s, border 0.3s;
  border-radius: 5px;
}
.close-btn:active {
  transition: background 0s, border 0s;
  border: 2px solid #ececec;
  background: #ececec;
}
.close-btn:hover {
  color: #3b3b3b;
}
.close-btn span {
  transition: all 0.2s;
}
.close-btn:hover span {
  transform: translateX(-5px);
}
.sidebar-content {
  max-height: calc(100vh - 4rem);
  overflow-y: auto;
}
.sidebar-content ul {
  height: 100%;
}
